{
  "extends": "react-app",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-empty-label": 0,
    "no-mixed-operators": 0
  },
  "globals": {
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true,
    "webpackIsomorphicTools": true,
    "Promise": true,
    "Map": true,
    "Set": true
  }
}
